.box{
    height:25vh;
    width: 85vh;
    text-align: center;
    background-color: cyan;
    height: 350px;
    width:640px;
}
.para{
    color: blue;
    background-color: rgb(218, 219, 222);
}
.meta{
    background-color: rgb(79, 127, 141);
    color: rgb(2, 1, 5);
}
.cls{
    background-color: rgb(58, 133, 195);
    height: 40px;
    width: 640px;
}
.ncc{
    background-color: grey;
}
